doc/
*.o
*.bin
*.elf
*.hex
*.vcd

sim/*.jou
sim/*.log
sim/*.pb
sim/.Xil
sim/xsim.dir
sim/axsim.sh

fpga/ip
fpga/*.jou
fpga/*.log
fpga/.Xil
fpga/*.html
fpga/*.xml
fpga/*.bit
fpga/*.mcs
fpga/*.prm
fpga/*.mif
fpga/*.edif
